
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
html,
body {
  background: linear-gradient(270deg, #D9A68C, #D9D68C);
  margin: 0 0;
  padding: 0 0;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: default;
}

.container {
  margin: 110px auto;
  width: 420px;
  text-align: center;
}

h2 {
  background: #B43C52;
  padding: 20px 20px;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
  margin: 0 0;
}

input[type="text"] {
  border: none;
  outline: none;
  background: transparent;
  color: #FFF;
  font-size: 20px;
  width: 350px;
}

::-webkit-input-placeholder {
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.list {
  background: #34495E;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul {
  margin: 0 -40px;
}

li {
  list-style: none;
  text-align: left;
  padding: 30px;
  width: 460px;
  transition: all .3s ease;
  color: #FFF;
  font-size: 16px;
}

li:hover {
  background: #2C3E50;
}

.check {
  border: 1px solid #FFF;
  border-radius: 5px;
  width: 15px;
  height: 15px;
  margin: 0 20px;
  float: right;
  transition: all .3s ease;
  cursor: default;
  padding: 3px;
}

.buttonstyle {
  border: 1px solid #FFF;
  color: #FFF;
  background: #2C3E50;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  width: 75px;
  height: 15px;
  margin: 0 20px;
  float: right;
  transition: all .3s ease;
  cursor: default;
  padding: 3px;
}

.remove {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 15px;
  height: 15px;
  float: right;
  margin: 0 0;
  background-position: center;
  background-size: 10px;
  transition: all .3s ease;
  cursor: default;
  padding: 4px;
}

.remove:hover {
  background: #B43C52;
  padding: 4px;
  cursor: default;
}

.selected {
  background: url(../../assets/images/check.png) #B43C52;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: 10px;
  transition: all .3s ease;
  border: 1px solid #B43C52;
  cursor: default;
}